<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog początkującego</title>
        </head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Blog o doświadczeniu i nauce</h2>
        <h3>Autor: Kacper Łoziński</h3>
        <h4>Wszelkie prawa zastrzeżone</h4>
    </div>
    <div>
        <p>Akapit</p>
        <em>To jest wyróżniony tekst</em><br>
        <strong>To jest pogróbiony tekst</strong><br>
        <em>Stąd się ucze o django --></em>
        <a href="https://strefakursow.pl">LINK</a>
    </div>
    <div>
        <ul>
        <li>Elementy listy</li>
        <li>Elementy listy</li>
        <li>Elementy listy</li>
        <li>Elementy listy</li>
        </ul>
    </div>
</body>

</html>